@model MvcApplication1.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}
<div style="height:75px">
    <img src="~/Images/logo.png" class="site-title" style="margin-top:20px;" />
</div>
<img src="~/Images/1 mobile.png" class="header_img_mobile" />
<img src="~/Images/1.png" class="header_img" />
<div class="Main_Content">
    <style>
        header {
            display: none;
        }
    </style>

   
    <section id="loginForm">
        <h2>Please log in</h2>
        @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <fieldset>
                <legend>Log in Form</legend>
                <ol>
                    <li>
                        @Html.LabelFor(m => m.UserName)
                        @Html.TextBoxFor(m => m.UserName)
                        @Html.ValidationMessageFor(m => m.UserName)
                    </li>
                    <li>
                        @Html.LabelFor(m => m.Password)
                        @Html.PasswordFor(m => m.Password)
                        @Html.ValidationMessageFor(m => m.Password)
                    </li>
                    <li>
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
                    </li>
                </ol>
                <input type="submit" value="Log in" />
            </fieldset>
            <p>
                @Html.ActionLink("Register", "Register") if you don't have an account.
            </p>
        }
    </section>

   

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>