@model MvcApplication1.message

@{
    ViewBag.Title = "Details";
}
  <img src="~/Images/6 mobile.png" class="header_img_mobile" />
             <img src="~/Images/6.png" class="header_img" />
<div class="Main_Content">
<h2>Details</h2>

<fieldset>
    <legend>message</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.type)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.type)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.question)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.question)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
