@model IEnumerable<MvcApplication1.Thread>

@{
    ViewBag.Title = "Index";
}
<img src="~/Images/2 mobile.png" class="header_img_mobile" />
<img src="~/Images/2.png" class="header_img" />
<div class="Main_Content">
    <h2>Edit Thread Message List</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    @using (Html.BeginForm())

{

 <p>

 @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", placeholder = "Find by Main Message" }) 

 <input type="submit"  value="Search" /></p>

}
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.answer)
            </th>
            <th class="show_on_wide_screen margin_id">
                @Html.DisplayNameFor(model => model.forumId)
            </th>
  
            <th class="show_on_wide_screen margin_id">
                @Html.DisplayNameFor(model => model.posterName)
            </th>
            <th class="show_on_wide_screen margin_id">
                @Html.DisplayNameFor(model => model.image)
            </th>
            <th class="show_on_wide_screen margin_id">
                @Html.DisplayNameFor(model => model.type)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td class="margin_id">
                    @Html.DisplayFor(modelItem => item.answer)
                </td>
                <td class="show_on_wide_screen margin_id">
                    @Html.DisplayFor(modelItem => item.forumId)
                </td>

                <td class="show_on_wide_screen margin_id">
                    @Html.DisplayFor(modelItem => item.posterName)
                </td>
                <td class="show_on_wide_screen margin_id">
                    @Html.DisplayFor(modelItem => item.image)
                </td>
                <td class="show_on_wide_screen margin_id">
                    @Html.DisplayFor(modelItem => item.type)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id }, new { @class = "btn_edit" })
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.id }, new { @class = "btn_Details" })
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = item.id }, new { @class = "btn_Delete" })
                </td>
            </tr>
        }

    </table>
</div>