@model MvcApplication1.users

@{
    ViewBag.Title = "Edit";
}
<img src="~/Images/3 mobile.png" class="header_img_mobile" />
<img src="~/Images/3.png" class="header_img" />
<div class="Main_Content">
    <h2>Edit</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>users</legend>

            @Html.HiddenFor(model => model.id)

            <div class="editor-label">
                @Html.LabelFor(model => model.name)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.name)
                @Html.ValidationMessageFor(model => model.name)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.password)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.password)
                @Html.ValidationMessageFor(model => model.password)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.email)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.email)
                @Html.ValidationMessageFor(model => model.email)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.user_type)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.user_type)
                @Html.ValidationMessageFor(model => model.user_type)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.image)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.image)
                @Html.ValidationMessageFor(model => model.image)
            </div>

            <p>
                <input type="submit" value="Save" />
            </p>
        </fieldset>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
