@model IEnumerable<MvcApplication1.users>

@{
    ViewBag.Title = "Index";
}
<img src="~/Images/3 mobile.png" class="header_img_mobile" />
<img src="~/Images/3.png" class="header_img" />
<div class="Main_Content">
    <h2>Edit Users List</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    @using (Html.BeginForm())

{

 <p>

 @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", placeholder = "Find by Main Message" }) 

 <input type="submit"  value="Search" /></p>

}
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th class="show_on_wide_screen margin_id">
                @Html.DisplayNameFor(model => model.password)
            </th>
            <th class="show_on_wide_screen margin_id">
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th class="show_on_wide_screen margin_id">
                @Html.DisplayNameFor(model => model.user_type)
            </th>
            <th class="show_on_wide_screen margin_id">
                @Html.DisplayNameFor(model => model.image)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td class="margin_id">
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td class="show_on_wide_screen margin_id" >
                    @Html.DisplayFor(modelItem => item.password)
                </td>
                <td class="show_on_wide_screen margin_id" >
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td class="show_on_wide_screen margin_id" >
                    @Html.DisplayFor(modelItem => item.user_type)
                </td>
                <td class="show_on_wide_screen margin_id" >
                    @Html.DisplayFor(modelItem => item.image)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id }, new { @class = "btn_edit" })
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.id }, new { @class = "btn_Details" })
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = item.id }, new { @class = "btn_Delete" })
                </td>
            </tr>
        }

    </table>
</div>